body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chart{
  border: solid black 1px;
}
.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}
text{
  fill:black;
}

.line .crosshair {
  fill: none;
  stroke-width: 1px;
}
.line #crosshairX {
  stroke: black;
}
.line #crosshairY {
  stroke: black;
}
.volPriceDividerLine{
  stroke: black;
}
.getPointerEvents{
    pointer-events: all;

}

.noPointerEvents{

  pointer-events: none;
}

#leftPriceTag{
  stroke: black;
}